@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

header{
    background-color: #541554;
    
}



.imagenes__header{
    display: flex;
    justify-content: space-between;
    padding-top: 3vh;
    
}



.imagen__header--logo{
    width: 110px;
    height: 30px;
    padding-left: 4vb;
}

.imagen__header--menu{
    width: 2.4vb;
    height: 2.2vh;
    padding-right: 3.5vb;
    padding-top: 0.5vh;
    

}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 1200;
    font-size:42px;
    color: white;
    text-align: center;
    padding-top: 4vh; 
    padding-left: 2vb;
    padding-right: 2vb;

    .text__color{
        
        color: #ecb22e;
    }  

}

.texto__header{
    font-family: 'Roboto', sans-serif;
    font-weight:50px;
    line-height: 25px;
    color: white;
    font-size: 16px;
    text-align: center;
    padding-left:2vb ;
    padding-right: 2vb;

}

.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 6vh;
    
  
}

.boton01{
    width: 40vb;
    height: 7vh;
    background-color: white;
    border-radius: 4px;

}
.boton01__texto{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    color: #541554;
    font-weight: 500;
    font-size: 95%;
    padding-top: 2.5vh;
    text-decoration: none;
    cursor: pointer;
    
}


.boton02{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 40vb;
    height: 7vh;
    background-color: #4285f4;
    border-radius: 4px;
}

.boton02__texto{
    display: flex;
    align-content: center;
    color: white;
    letter-spacing: 1px;
    padding-right: 7vb;
    font-weight: 500;
    font-size: 89%;
    text-decoration: none;
    
}

.boton02__logoGoogle{
    
    width: 42px;
    margin-left: 10px;
    border-radius: 4px;
    
}

.video__container{
    display: flex;
    align-content: center;
    padding-top: 60px;
}

.video__header{
    width: 800px;
}